$white : #fff;
$black : #000;
$placeholder-header-bg : #d8d8d8;

$primary-bg : #1aad9b;
$primary : #00B7AA;
$primary-bg-light : #f1f9f8;


$primary-light : #B8E1DA; 
$secondary : #f0532d;
$gray : #67686B;
$gray-light : #ebebeb;
$gray-eOne : #e1e1e1;
$gray-8c : #8c8d94;
$gray-9F : #9F9F9F;
$gray-67 : #67686b;
$grey-option:#aaa;
$facebook:#3244ab;

$travel-color : #f04a4a; 

$bg-light : #f1f9f8;

$font-Merriweather : 'Merriweather', serif;
$font-Poppins : 'Poppins', sans-serif;